:root{
    --primary-color:#B1B2FF; 
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
   margin-top: 0;
   font-family: 'Sacramento', cursive;
}


h2, h3 {
    font-family: 'Montserrat', sans-serif;
 }
 

.top-container {
    background-color: var(--primary-color);
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: var(--primary-color);

}

.bottom-container {
    background-color: var(--primary-color);
  
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position:absolute;
   right: 300px;
   top:50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profilePic {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    margin-top: 20px;
}